html,body {
    overflow-y: hidden;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.section {
    overflow-y: hidden;
    overflow-x: hidden;
    height: 100vh;
}

.pageloadscreen {
    position: relative;
    left: 0;
    top: 0;
    overflow: hidden;
}

.blurred-school-pic {
    display: none;
    position: relative;
    left: 0;
    top: 0;
    z-index: 1;
    /*to make pic responsive*/
    min-height: 100%;
    min-width: 1024px;
    width: 100vw;
    height: 100vh;
}

.school-logo {
    display: none;
    width: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 10%;
    z-index: 5;
    margin: 0 auto;
}


.down-arrow {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 81.5%;
    z-index: 15;
    border-radius: 50%;
    height: 80px;
    width: 80px;
    text-decoration: none !important;
}

.ring {
    border: 2.5px solid white;

    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;

    height: 80px;
    width: 80px;
    position: absolute;
    left:0;
    right: 0;
    top:81%;
    z-index: 5;
    margin: 0 auto;

    -webkit-animation: pulsate 2s ease-out;
    -webkit-animation-iteration-count: infinite;

    -moz-animation: pulsate 2s ease-out;
    -moz-animation-iteration-count: infinite;

    -o-animation: pulsate 2s ease-out;
    -o-animation-iteration-count: infinite;

    -ms-animation: pulsate 2s ease-out;
    -ms-animation-iteration-count: infinite;

    animation: pulsate 2s ease-out;
    animation-iteration-count: infinite;

    opacity: 0.0;
}

.ring2 {
    -webkit-animation-delay: 1.2s;
    -moz-animation-delay: 1.2s;
    -o-animation-delay: 1.2s;
    -ms-animation-delay: 1.2s;
    animation-delay: 1.2s;
}

@-webkit-keyframes pulsate {

    0% {
        -webkit-transform: scale(0,0);
        opacity: 1;}
    100% {
        -webkit-transform: scale(1.2,1.2);
        opacity: 0;}

}

@-moz-keyframes pulsate {

    0% {
        -moz-transform: scale(0,0);
        opacity: 1;}
    100% {
        -moz-transform: scale(1.2,1.2);
        opacity: 0;}

}

@-o-keyframes pulsate {

    0% {
        -o-transform: scale(0,0);
        opacity: 1;}
    100% {
        -o-transform: scale(1.2,1.2);
        opacity: 0;}

}

@-ms-keyframes pulsate {

    0% {
        -ms-transform: scale(0,0);
        opacity: 1;}
    100% {
        -ms-transform: scale(1.2,1.2);
        opacity: 0;}

}

@keyframes pulsate {

    0% {
        transform: scale(0,0);
        opacity: 1;}
    100% {
        transform: scale(1.2,1.2);
        opacity: 0;}

}

.no-display {
    display: none;
}

.page-one-pic {
    position: absolute;
    /*display: block;*/
    left: 0;
    top: 0;
    z-index: 1;
    /* to make pic responsive */
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: 100vh;
}


.school-name {
    position: absolute;
    width : 80%;
    height: auto;
    left: 0;
    right: 0;
    top: 25%;
    z-index: 5;
    margin: 0 auto;
    opacity: 0;
}

.school-logo2 {
    position: absolute;
    height: auto;
    left: 0;
    right: 0;
    width: auto;
    top: 10%;
    z-index: 5;
    margin: 0 auto;
}


.come-in {
    -ms-transform:translateY(85px);
    -moz-transform:translateY(85px);
    -o-transform:translateY(85px);
    -webkit-transform:translateY(85px);
    transform:translateY(85px);

    -webkit-animation:come-in 1.2s ease-out forwards;
    -ms-animation:come-in 1.2s ease-out forwards;
    -o-animation:come-in 1.2s ease-out forwards;
    -moz-animation:come-in 1.2s ease-out forwards;
    animation:come-in 1.2s ease-out forwards;

    opacity: 1;
}

@-webkit-keyframes come-in {
    to {
    -webkit-transform:translateY(0);
    transform:translateY(0);
    }
}

@-o-keyframes come-in {
    to {
        -o-transform:translateY(0);
        transform:translateY(0);
    }
}

@-moz-keyframes come-in {
    to {
        -moz-transform:translateY(0);
        transform:translateY(0);
    }
}

@-ms-keyframes come-in {
    to {
        -ms-transform:translateY(0);
        transform:translateY(0);
    }
}


@keyframes come-in{
    to{
        transform:translateY(0)
    }
}

.down-arrow-page-one {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 81.5%;
    z-index: 25;
    width: 80px;
    height: 80px;
    opacity: 0;
}

.come-down {
    -ms-transform:translateY(-85px);
    -moz-transform:translateY(-85px);
    -o-transform:translateY(-85px);
    -webkit-transform:translateY(-85px);
    transform:translateY(-85px);

    -webkit-animation:come-down 1.2s ease-out forwards;
    -ms-animation:come-down 1.2s ease-out forwards;
    -o-animation:come-down 1.2s ease-out forwards;
    -moz-animation:come-down 1.2s ease-out forwards;
    animation:come-down 1.2s ease-out forwards;

    opacity: 1;
}

@-webkit-keyframes come-down {
    to {
        -webkit-transform:translateY(0);
        transform:translateY(0);
    }
}

@-o-keyframes come-down {
    to {
        -o-transform:translateY(0);
        transform:translateY(0);
    }
}

@-moz-keyframes come-down {
    to {
        -moz-transform:translateY(0);
        transform:translateY(0);
    }
}

@-ms-keyframes come-down {
    to {
        -ms-transform:translateY(0);
        transform:translateY(0);
    }
}


@keyframes come-down {
    to{
        transform:translateY(0)
    }
}

#slideshow{
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}

#slideshow img {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    /* to make pic responsive */
    min-height: 100%;
    min-width: 1024px;
    width: 100vw;
    height: 100vh;
    opacity:0;
    -webkit-transition-property: opacity, -webkit-transform;
    -webkit-transition-duration: 3s, 10s;
    -moz-transition-property: opacity, -moz-transform;
    -moz-transition-duration: 3s, 10s;
    -ms-transition-property: opacity, -ms-transform;
    -ms-transition-duration: 3s, 10s;
    -o-transition-property: opacity, -o-transform;
    -o-transition-duration: 3s, 10s;
    transition-property: opacity, transform;
    transition-duration:3s, 10s;
}

#slideshow img {
    -webkit-transform-origin: bottom left;
    -moz-transform-origin: bottom left;
    -ms-transform-origin: bottom left;
    -o-transform-origin: bottom left;
    transform-origin: bottom left;
}

#slideshow img:nth-child(2n+1) {
    -webkit-transform-origin: top right;
    -moz-transform-origin: top right;
    -ms-transform-origin: top right;
    -o-transform-origin: top right;
    transform-origin: top right;
}

#slideshow img:nth-child(3n+1) {
    -webkit-transform-origin: top left;
    -moz-transform-origin: top left;
    -ms-transform-origin: top left;
    -o-transform-origin: top left;
    transform-origin: top left;
}
#slideshow img:nth-child(4n+1) {
    -webkit-transform-origin: bottom right;
    -moz-transform-origin: bottom right;
    -ms-transform-origin: bottom right;
    -o-transform-origin: bottom right;
    transform-origin: bottom right;
}

/**
 * Because of the stacking context, we need to make sure that the first image (in source) is not hidden by the last one.
 * The rule below moves all images past the second one down the stack.
 * This is because the second image needs to show on top of the first one when it transitions in.
 */

#slideshow .fx:first-child + img ~ img  {
    z-index:-1;
}

/**
 * Because images are styled with a different point of origin, the following rule will create different panning effects.
 */

#slideshow .fx {
    opacity:1;
    -webkit-transform: scale(1.25);
    -moz-transform: scale(1.25);
    -ms-transform: scale(1.25);
    -o-transform: scale(1.25);
    transform: scale(1.25);
}

#section2 {
    background-color: #4f2500;
}


.offscreen-logo {
    top: -120px;
    left: -360px;
    height: 130vh;
    width: auto;
    position: absolute;
    opacity: 0;
}

.come-in-logo {
    -ms-transform:translateY(100%);
    -moz-transform:translateY(100%);
    -o-transform:translateY(100%);
    -webkit-transform:translateY(100%);
    transform:translateY(100%);

    -webkit-animation:come-in-logo 0.8s ease-out forwards;
    -ms-animation:come-in-logo 0.8s ease-out forwards;
    -o-animation:come-in-logo 0.8s ease-out forwards;
    -moz-animation:come-in-logo 0.8s ease-out forwards;
    animation:come-in-logo 0.8s ease-out forwards;

    opacity: 0.2;
}

@-webkit-keyframes come-in-logo {
    to {
        -webkit-transform:translateY(0);
        transform:translateY(0);
    }
}

@-o-keyframes come-in-logo {
    to {
        -o-transform:translateY(0);
        transform:translateY(0);
    }
}

@-moz-keyframes come-in-logo {
    to {
        -moz-transform:translateY(0);
        transform:translateY(0);
    }
}

@-ms-keyframes come-in-logo {
    to {
        -ms-transform:translateY(0);
        transform:translateY(0);
    }
}


@keyframes come-in-logo{
    to{
        transform:translateY(0)
    }
}

.left {
    float: left;
    width: 30%;
}

.right {
    float: right;
    width: 70%;
}

.group:after {
    content:"";
    display: table;
    clear: both;
}

.principal-pic {
    display: block;

    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;

    z-index: 10;
    width: 350px;
    height: auto;
    position: relative;
    max-width: 100%;
    margin: 10% 10% 10% 37%;
    opacity:0;
}

.text {
    position: absolute;
    z-index: 10;
    margin:0;
    top :20%;
    left : 50%;
    color: white;
    text-align: justify;
    width: 40%;
    font-family: 'Cormorant Garamond',serif;
    font-weight:300;
    font-style: italic;
    text-align-last: center;
    opacity: 0;
}


.overlay {
    position: relative;
    top:0;
    left:0;
    width:100%;
    height:100%;
    display: block;
    z-index:3;
    animation: color-animation 80s linear alternate;
}

@keyframes color-animation {
    0% {
        background-color: rgba(255,0,0,0.5);
    }

    25% {
        background-color: rgba(0,255,0,0.5);
    }

    50% {
        background-color: rgba(0,0,255,0.5);
    }

    100% {
        background-color: rgba(255,255,0,0.5);
    }
}

/* media queries */

@media screen and (max-width: 480px) {
    .left,
    .right {
        float: none;
        width: auto;
    }
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
    .blurred-school-pic .page-one-pic .mySlides {
        left: 50%;
        margin-left: -512px;   /* 50% */
    }
}

/*responsive layout*/


@media screen and (min-width:320px) {
    /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
    .school-logo {
        height: 220px;
        top: 25%;
    }

    .down-arrow .down-arrow-page-one{
        height: 60px;
        width: 60px;
        top: 82.5%;
    }

    .school-name {
        display: none;
    }

    .school-logo2 {
        display: block;
        height: 220px;
        top: 25%;
    }


    .text {
        font-size: 1.4em;
        top:22%;
    }

    .offscreen-logo {
        height: 95vh;
        top: -115px;
    }

    .principal-pic {
        margin: 5% 10% 80% 20% ;
        width: 200px;
    }

}
    @media screen and (min-width: 480px) {
        /* smartphones, Android phones, landscape iPhone */
        .school-logo{
            height: 250px;
            top: 20%;
        }

        .down-arrow .down-arrow-page-one{
            height: 60px;
            width: 60px;
            top: 82.5%;
        }

        .school-name {
            display: block;
        }

        .school-logo2 {
            display: none;
        }


        .text {
            font-size: 1.5em;
            top: 22%;
        }

        .offscreen-logo {
            height: 110vh;
            top: -115px;
        }

        .principal-pic {
            margin: 10% 10% 10% 37%;
            width: 350px ;
        }

    }
    @media screen and (min-width: 600px) {
        /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
        .school-logo{
            height: 280px;
            top:18%;
        }

        .down-arrow .down-arrow-page-one{
            height: 70px;
            width: 70px;
            top: 81.5%;
        }

        .school-name {
            display: block;
        }

        .school-logo2 {
            display: none;
        }


        .text {
            font-size: 1.6em;
            top: 22%;
        }

        .offscreen-logo {
            height: 120vh;
            top: -115px;
        }

        .principal-pic {
            margin: 10% 10% 10% 37%;
            width: 350px ;
        }
    }
    @media screen and (min-width: 755px) {
        /*random breakpoint based on design*/
        .school-logo{
            height: 300px;
            top: 12%;
        }

        .down-arrow .down-arrow-page-one{
            height: 70px;
            width: 70px;
            top: 81.5%;
        }

        .school-name {
            display: block;
        }

        .school-logo2 {
            display: none;
        }


        .text {
            font-size: 1.7em;
            top: 22%;
        }

        .offscreen-logo {
            height: 120vh;
            top: -115px;
        }

        .principal-pic {
            margin: 10% 10% 10% 37%;
            width: 350px ;
        }

    }
    @media screen and (min-width: 801px) {
        /* tablet, landscape iPad, lo-res laptops ands desktops */
        .school-logo{
            height: 300px;
            top: 10%;
        }

        .down-arrow .down-arrow-page-one{
            height: 80px;
            width: 80px;
            top: 81.5%;
        }

        .school-name {
            display: block;
        }

        .school-logo2 {
            display: none;
        }


        .text {
            font-size: 1.8em;
            top: 22%;
        }

        .offscreen-logo {
            height: 120vh;
            top: -125px;
        }

        .principal-pic {
            margin: 10% 10% 10% 37%;
            width: 350px ;
        }

    }


    @media screen and (min-width: 920px){
        /*random breakpoint based on design*/
        .school-logo{
            height: 315px;
            top: 10%;
        }

        .down-arrow .down-arrow-page-one{
            height: 80px;
            width: 80px;
            top: 81.5%;
        }

        .school-name {
            display: block;
        }

        .school-logo2 {
            display: none;
        }


        .text {
            font-size: 1.9em;
            top: 20%;
        }

        .offscreen-logo {
            height: 120vh;
            top: -125px;
        }

        .principal-pic {
            margin: 10% 10% 10% 37%;
            width: 350px ;
        }
    }

    @media screen and (min-width: 1025px) {
        /* big landscape tablets, laptops, and desktops */
        .school-logo{
            height: 350px;
            top: 10%;
        }

        .down-arrow .down-arrow-page-one{
            height: 80px;
            width: 80px;
            top: 81.5%;
        }

        .school-name {
            display: block;
        }

        .school-logo2 {
            display: none;
        }

        .text {
            font-size: 2em;
            top:20%;
        }

        .offscreen-logo {
            height: 125vh;
            top: -120px;
        }

        .principal-pic {
            margin: 10% 10% 10% 37%;
            width: 350px ;
        }

    }

    @media screen and (min-width: 1281px) {
        /* hi-res laptops and desktops */
        .school-logo{
            height: 350px;
            top: 10%;
        }

        .down-arrow .down-arrow-page-one{
            height: 80px;
            width: 80px;
            top: 81.5%;
        }

        .school-name {
            display: block;
        }

        .school-logo2 {
            display: none;
        }

        .text {
            font-size: 2.55em;
            top: 20%;
        }

        .offscreen-logo {
            height: 130vh;
            top: -120px;
        }

        .principal-pic {
            margin:10% 10% 10% 37% ;
            width: 350px ;
        }

    }
