html,body {
    overflow-y: hidden;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.section {
    overflow-y: hidden;
    overflow-x: hidden;
}

.pageloadscreen {
    position: relative;
    left: 0;
    top: 0;
    overflow: hidden;
}

.blurred-school-pic {
    display: none;
    position: relative;
    left: 0;
    top: 0;
    z-index: 1;
    /*to make pic responsive*/
    min-height: 100%;
    min-width: 1024px;
    width: 100vw;
    height: 100vh;
}

.school-logo {
    display: none;
    width: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 10%;
    z-index: 5;
    margin: 0 auto;
}


.down-arrow {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 81.5%;
    z-index: 15;
    border-radius: 50%;
    height: 80px;
    width: 80px;
    text-decoration: none !important;
}

.ring {
    border: 2.5px solid white;

    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;

    height: 80px;
    width: 80px;
    position: absolute;
    left:0;
    right: 0;
    top:81%;
    z-index: 5;
    margin: 0 auto;

    -webkit-animation: pulsate 2s ease-out;
    -webkit-animation-iteration-count: infinite;

    -moz-animation: pulsate 2s ease-out;
    -moz-animation-iteration-count: infinite;

    -o-animation: pulsate 2s ease-out;
    -o-animation-iteration-count: infinite;

    -ms-animation: pulsate 2s ease-out;
    -ms-animation-iteration-count: infinite;

    animation: pulsate 2s ease-out;
    animation-iteration-count: infinite;

    opacity: 0.0;
}

.ring2 {
    -webkit-animation-delay: 1.4s;
    -moz-animation-delay: 1.4s;
    -o-animation-delay: 1.4s;
    -ms-animation-delay: 1.4s;
    animation-delay: 1.4s;
}

@-webkit-keyframes pulsate {

    0% {
        -webkit-transform: scale(0,0);
        opacity: 1;}
    100% {
        -webkit-transform: scale(1.2,1.2);
        opacity: 0;}

}

@-moz-keyframes pulsate {

    0% {
        -moz-transform: scale(0,0);
        opacity: 1;}
    100% {
        -moz-transform: scale(1.2,1.2);
        opacity: 0;}

}

@-o-keyframes pulsate {

    0% {
        -o-transform: scale(0,0);
        opacity: 1;}
    100% {
        -o-transform: scale(1.2,1.2);
        opacity: 0;}

}

@-ms-keyframes pulsate {

    0% {
        -ms-transform: scale(0,0);
        opacity: 1;}
    100% {
        -ms-transform: scale(1.2,1.2);
        opacity: 0;}

}

@keyframes pulsate {

    0% {
        transform: scale(0,0);
        opacity: 1;}
    100% {
        transform: scale(1.2,1.2);
        opacity: 0;}

}

.no-display {
    display: none;
}

.page-one-pic {
    position: absolute;
    /*display: block;*/
    left: 0;
    top: 0;
    z-index: 1;
    /* to make pic responsive */
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
}


.school-name {
    /*visibility: hidden;*/
    position: absolute;
    width : 80%;
    height: auto;
    left: 0;
    right: 0;
    top: 25%;
    z-index: 5;
    margin: 0 auto;
    opacity: 0;
}


.come-in {
    -ms-transform:translateY(85px);
    -moz-transform:translateY(85px);
    -o-transform:translateY(85px);
    -webkit-transform:translateY(85px);
    transform:translateY(85px);

    -webkit-animation:come-in 1.2s ease-out forwards;
    -ms-animation:come-in 1.2s ease-out forwards;
    -o-animation:come-in 1.2s ease-out forwards;
    -moz-animation:come-in 1.2s ease-out forwards;
    animation:come-in 1.2s ease-out forwards;

    opacity: 1;
}

@-webkit-keyframes come-in {
    to {
    -webkit-transform:translateY(0);
    transform:translateY(0);
    }
}

@-o-keyframes come-in {
    to {
        -o-transform:translateY(0);
        transform:translateY(0);
    }
}

@-moz-keyframes come-in {
    to {
        -moz-transform:translateY(0);
        transform:translateY(0);
    }
}

@-ms-keyframes come-in {
    to {
        -ms-transform:translateY(0);
        transform:translateY(0);
    }
}


@keyframes come-in{
    to{
        transform:translateY(0)
    }
}

.down-arrow-page-one {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 81.5%;
    z-index: 25;
    width: 80px;
    height: 80px;
    opacity: 0;
}

.come-down {
    -ms-transform:translateY(-85px);
    -moz-transform:translateY(-85px);
    -o-transform:translateY(-85px);
    -webkit-transform:translateY(-85px);
    transform:translateY(-85px);

    -webkit-animation:come-down 1.2s ease-out forwards;
    -ms-animation:come-down 1.2s ease-out forwards;
    -o-animation:come-down 1.2s ease-out forwards;
    -moz-animation:come-down 1.2s ease-out forwards;
    animation:come-down 1.2s ease-out forwards;

    opacity: 1;
}

@-webkit-keyframes come-down {
    to {
        -webkit-transform:translateY(0);
        transform:translateY(0);
    }
}

@-o-keyframes come-down {
    to {
        -o-transform:translateY(0);
        transform:translateY(0);
    }
}

@-moz-keyframes come-down {
    to {
        -moz-transform:translateY(0);
        transform:translateY(0);
    }
}

@-ms-keyframes come-down {
    to {
        -ms-transform:translateY(0);
        transform:translateY(0);
    }
}


@keyframes come-down {
    to{
        transform:translateY(0)
    }
}

.mySlides {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
    /* to make pic responsive */
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
}



/* media queries */
@media screen and (max-width: 1024px) { /* Specific to this particular image */
    .blurred-school-pic .page-one-pic .mySlides {
        left: 50%;
        margin-left: -512px;   /* 50% */
    }
}

/*responsive layout*/


@media screen and (min-width:320px) {
    /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
    .school-logo {
        height: 220px;
        top: 25%;
    }

    .down-arrow .down-arrow-page-one{
        height: 60px;
        width: 60px;
        top: 82.5%;
    }
}
    @media screen and (min-width: 480px) {
        /* smartphones, Android phones, landscape iPhone */
        .school-logo{
            height: 250px;
            top: 20%;
        }

        .down-arrow .down-arrow-page-one{
            height: 60px;
            width: 60px;
            top: 82.5%;
        }

    }
    @media screen and (min-width: 600px) {
        /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
        .school-logo{
            height: 280px;
            top:18%;
        }

        .down-arrow .down-arrow-page-one{
            height: 70px;
            width: 70px;
            top: 81.5%;
        }
    }
    @media screen and (min-width: 755px) {
        /*random breakpoint based on design*/
        .school-logo{
            height: 300px;
            top: 12%;
        }

        .down-arrow .down-arrow-page-one{
            height: 70px;
            width: 70px;
            top: 81.5%;
        }

    }
    @media screen and (min-width: 801px) {
        /* tablet, landscape iPad, lo-res laptops ands desktops */
        .school-logo{
            height: 300px;
            top: 10%;
        }

        .down-arrow .down-arrow-page-one{
            height: 80px;
            width: 80px;
            top: 81.5%;
        }

    }


    @media screen and (min-width: 920px){
        /*random breakpoint based on design*/
        .school-logo{
            height: 315px;
            top: 10%;
        }

        .down-arrow .down-arrow-page-one{
            height: 80px;
            width: 80px;
            top: 81.5%;
        }
    }
    @media screen and (min-width: 1025px) {
        /* big landscape tablets, laptops, and desktops */
        .school-logo{
            height: 350px;
            top: 10%;
        }

        .down-arrow .down-arrow-page-one{
            height: 80px;
            width: 80px;
            top: 81.5%;
        }

    }
    @media screen and (min-width: 1281px) {
        /* hi-res laptops and desktops */
        .school-logo{
            height: 350px;
            top: 10%;
        }

        .down-arrow .down-arrow-page-one{
            height: 80px;
            width: 80px;
            top: 81.5%;
        }

    }
